<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="db" xsi:type="Database" connectionString=" server=VCC2-401;Database=vilas103;user id=Vcc2;password=Vcc2P@ssword"
            commandType="StoredProcedure" commandText="[dbo].[sp_InsertNLog]">
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@username"      layout="${windows-identity:domain=true}"/>
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@thread"         layout="${threadid}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
      <parameter name="@stacktrace"     layout="${stacktrace}" />
    </target>

    <!--CREATE TABLE [dbo].[NLog] (
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [MachineName] [nvarchar](256) NULL,
    [Logged] [datetime] NOT NULL,
    [Level] [varchar](8) NOT NULL,
    [Message] [nvarchar](max) NOT NULL,
    [Logger] [nvarchar](512) NULL,
    [Properties] [nvarchar](max) NULL,
    [UserName] [nvarchar](128) NULL,
    [Callsite] [nvarchar](512) NULL,
    [Thread] [nvarchar](128) NULL,
    [Exception] [nvarchar](max) NULL,
    [Stacktrace] [nvarchar](max) NULL,
    CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([ID] ASC)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];

    GO

    CREATE PROCEDURE [dbo].[NLog_AddEntry_p] (
    @machineName nvarchar(256),
    @logged datetime,
    @level varchar(8),
    @message nvarchar(max),
    @logger nvarchar(512),
    @properties nvarchar(max),
    @userName nvarchar(256),
    @callsite nvarchar(512),
    @thread nvarchar(128),
    @exception nvarchar(max),
    @stacktrace nvarchar(max)
    ) AS
    BEGIN
    INSERT INTO [dbo].[NLog] (
    [MachineName],
    [Logged],
    [Level],
    [Message],
    [Logger],
    [Properties],
    [UserName],
    [Callsite],
    [Thread],
    [Exception],
    [Stacktrace]
    ) VALUES (
    @machineName,
    @logged,
    @level,
    @message,
    @logger,
    @properties,
    @userName,
    @callsite,
    @thread,
    @exception,
    @stacktrace
    );
    END-->

    <!--<target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />-->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />-->

    <logger name="*" minlevel="Debug" writeTo="db" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>


<!--Level	Typical Use
Fatal	Something bad happened; application is going down
Error	Something failed; application may or may not continue
Warn	Something unexpected; application will continue
Info	Normal behavior like mail sent, user updated profile etc.
Debug	For debugging; executed query, user authenticated, session expired
Trace	For trace debugging; begin method X, end method X-->